.left-container {
  display: flex;
  flex-direction: column;
  background-color: #5da8cd;
  height: 90vh;
  width: 333px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 0;
  border-radius: 25px;

  .detail-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1;

    .top-left {
      display: flex;
      justify-content: space-between;
      padding: 5px 20px;
      align-items: center;

      svg {
        color: white;
      }
      .dot-container {
        display: flex;
        align-items: center;
        gap: 7px;
        div {
          height: 6px;
          width: 23px;
          background-color: white;
          border: 1px solid white;
          border-radius: 5px;
        }
        svg {
          font-size: 13px;
          color: white;
        }
      }
      p {
        display: flex;
        gap: 10px;
        align-items: center;
        svg {
          font-size: 40px;
          color: white;
        }
      }
    }
    .city {
      display: flex;
      flex-direction: column;

      .cityInfo {
        display: flex;
        justify-content: space-between;
        padding: 0 25px;
        div {
          display: flex;
          align-items: center;
          gap: 10px;
          svg {
            color: white;
          }
          p {
            color: white;
          }
        }
      }

      .dateInfo {
        margin-top: -15px;
        display: flex;
        justify-content: space-between;
        padding: 0 25px 30px;
        p {
          color: white;
          font-weight: 400;
        }
        div {
          display: flex;
          align-items: center;
          gap: 10px;
          svg {
            color: white;
          }
          p {
            color: white;
          }
        }
      }
    }
    .detail {
      display: flex;
      flex-direction: column;
      margin-top: -100px;

      .arrow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        svg {
          font-size: 30px;
          color: white;
        }
        .p {
          font-size: 100px;
          color: white;
        }
      }

      .dayInfo {
        margin-top: -100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-left: -70px;
        svg {
          color: white;
        }
        p {
          color: white;
        }
      }
    }
  }

  .image-container {
    position: absolute;
    bottom: 10px;
    width: 360px;
    overflow: hidden;
    border-bottom-left-radius: 20px;

    .left-image {
      width: 100%;
      display: block;
    }
  }
}

// .left-container {
//   display: flex;
//   flex-direction: column;
//   background-color: #5da8cd;
//   height: 90vh;
//   width: 333px;
//   padding-right: 50px;
//   border-radius: 25px;
// }
// .image-container {
//   position: absolute;
//   bottom: 30px;
//   width: 330px;
//   overflow: hidden;
//   border-bottom-left-radius: 20px;
// }
// .left-image {
//   width: 100%;
//   display: block;
// }
// .detail-container {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
//   z-index: 1;
// }

// .top-left {
//   display: flex;
//   justify-content: space-between;
//   padding: 5px 20px;
//   align-items: center;

//   svg {
//     color: white;
//   }
//   p {
//     display: flex;
//     gap: 10px;
//     align-items: center;
//     svg {
//       font-size: 40px;
//       color: white;
//     }
//   }
// }
// .dot-container {
//   display: flex;
//   align-items: center;
//   gap: 7px;
//   div {
//     height: 6px;
//     width: 23px;
//     background-color: white;
//     border: 1px solid white;
//     border-radius: 5px;
//   }
//   svg {
//     font-size: 13px;
//     color: white;
//   }
// }

// .city {
//   display: flex;
//   flex-direction: column;
// }
// .cityInfo {
//   display: flex;
//   justify-content: space-between;
//   padding: 0 25px;
//   div {
//     display: flex;
//     align-items: center;
//     gap: 10px;
//     svg {
//       color: white;
//     }
//     p {
//       color: white;
//     }
//   }
// }
// .dateInfo {
//   margin-top: -15px;
//   display: flex;
//   justify-content: space-between;
//   padding: 0 25px 30px;
//   p {
//     color: white;
//   }
//   div {
//     display: flex;
//     align-items: center;
//     gap: 10px;
//     svg {
//       color: white;
//     }
//     p {
//       color: white;
//     }
//   }
// }

// .detail {
//   display: flex;
//   flex-direction: column;
//   margin-top: -100px;
// }
// .arrow {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 0 30px;
//   svg {
//     font-size: 30px;
//     color: white;
//   }
// }
// .dayInfo {
//   margin-top: -100px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 10px;
//   margin-left: -70px;
//   svg {
//     color: white;
//   }
//   p {
//     color: white;
//   }
// }

// .p {
//   font-size: 100px;
//   color: white;
// }
