.card-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title-container {
  position: absolute;
  p {
    font-size: 12px;
  }
  h3 {
    display: flex;
    justify-content: center;
    font-weight: 400;
  }
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    background-color: blue;
    padding: 0 5px;
    border-radius: 5px;
    color: white;
  }
}
.mid {
  h3 {
    font-size: 20px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 5px;
  }
}
.progressBar {
  display: flex;
  gap: 10px;
}

.progress-container {
  p {
    color: grey;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 3px;
  }
}

// wind

.wind-container {
  p {
    font-size: 12px;
  }
  h3 {
    display: flex;
    justify-content: center;
    font-weight: 400;
  }
}

.windTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    background-color: blue;
    padding: 0 5px;
    border-radius: 5px;
    color: white;
  }
}

.speedoMeter {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -40px;
}

// uv

.uv-container {
  p {
    font-size: 12px;
  }
  h3 {
    display: flex;
    justify-content: center;
    font-weight: 400;
  }
}

.paragraph-container {
  display: flex;
  justify-content: space-between;
}
