.right {
  background-color: rgb(193, 193, 233);
  margin-left: -40px;
  border-radius: 25px;
  padding: 20px 15px;
  width: 100vh;
}

.title {
  p {
    line-height: 0;
  }
}

.upcomming {
  border-radius: 20px;
}
