.container {
  display: flex;
}
.image-container {
  position: absolute;
  bottom: 30px;
  width: 330px;
  overflow: hidden;
  border-bottom-left-radius: 20px;
}
.left-image {
  width: 100%;
  display: block;
}
.left-container {
  display: flex;
  flex-direction: column;
  background-color: #5da8cd;
  height: 90vh;
  width: 333px;
  padding-right: 50px;
  border-radius: 25px;
}
.detail-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.top-left {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;

  svg {
    color: white;
  }
  p {
    display: flex;
    gap: 10px;
    align-items: center;
    svg {
      font-size: 40px;
      color: white;
    }
  }
}
.dot-container {
  display: flex;
  align-items: center;
  gap: 7px;
  div {
    height: 6px;
    width: 23px;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
  }
  svg {
    font-size: 13px;
    color: white;
  }
}

.city {
  display: flex;
  flex-direction: column;
}
.cityInfo {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  div {
    display: flex;
    align-items: center;
    gap: 10px;
    svg {
      color: white;
    }
    p {
      color: white;
    }
  }
}
.dateInfo {
  margin-top: -15px;
  display: flex;
  justify-content: space-between;
  padding: 0 25px 30px;
  p {
    color: white;
  }
  div {
    display: flex;
    align-items: center;
    gap: 10px;
    svg {
      color: white;
    }
    p {
      color: white;
    }
  }
}

.detail {
  display: flex;
  flex-direction: column;
  margin-top: -100px;
}
.arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  svg {
    font-size: 30px;
    color: white;
  }
}
.dayInfo {
  margin-top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: -70px;
  svg {
    color: white;
  }
  p {
    color: white;
  }
}

.p {
  font-size: 100px;
  color: white;
}

// .container {
//   display: flex;
//   position: relative;
// }
// .left-container {
//   display: flex;
//   flex-direction: column;
//   // position: absolute;
//   background-color: #8cabff;

//   // background-color: green;
// }
// .detail-container {
//   position: absolute;
//   background-color: yellow;
//   position: absolute;
// }
// .image-container {
//   position: absolute;
//   top: 414px;
//   // background-color: red;
// }

// .top-left {
//   // position: absolute;
//   background-color: red;
//   padding: 0 20px;
//   margin-top: -317px;
//   margin-bottom: 257px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   gap: 70px;
//   svg {
//     font-size: 30px;
//     color: white;
//   }
//   p {
//     // background-color: red;
//     padding: 10px;
//     display: flex;
//     align-items: center;
//     gap: 10px;
//     svg {
//       font-size: 50px;
//       color: white;
//     }
//     span {
//       font-size: 15px;
//     }
//   }
// }

// .dot-container {
//   display: flex;
//   align-items: center;
//   gap: 5px;
//   svg {
//     font-size: 10px;
//     color: white;
//   }
// }

// .border {
//   border: 1px solid grey;
//   background-color: white;
//   height: 5px;
//   width: 20px;
//   border-radius: 5px;
// }

// .left {
//   flex: 1;
//   background-color: #e0e0e0;
//   height: 100vh;
//   border-radius: 10px;
// }

// .left-image {
//   position: "absolute";
//   top: 20;
//   left: 0;
// }

// .right {
//   border-top-left-radius: 20px;
//   border-bottom-left-radius: 20px;
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 70%;
//   background-color: #a0a0a0;
//   height: 100%;
// }

// .city {
//   padding: 10px;
//   background-color: red;
// }
