@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Montserrat:wght@100;400;500&family=Open+Sans&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  background-color: rgb(162, 162, 230);
  z-index: -1;
}
